#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 600px;
  max-width: 360px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ac64ffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #7e5f5f;
}

#answer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 1.5rem;

  & svg {
    width: 1.7rem;
    position: relative;
    flex-shrink: 0;
    top: 2px;
  }

  &:has(.red) {
    filter: brightness(0) saturate(100%) invert(73%) sepia(27%) saturate(2139%)
      hue-rotate(308deg) brightness(85%) contrast(84%);
  }

  &:has(.green) {
    filter: brightness(0) saturate(100%) invert(84%) sepia(21%) saturate(756%)
      hue-rotate(48deg) brightness(92%) contrast(90%);
  }
}
